<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/css/coffee_styles.css?v=1.1.4"/>
		<title>{{ page.title }}</title>
	</head>
	<body>
		<div id="trailer" class="is_overlay">
			<video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
				<source src="video/coffee{{ page.rand_video }}.mp4"></source>
				<source src="video/coffee{{ page.rand_video }}.webm" type="video/webm"></source>
			</video>
		</div>
		<div class="result">
			<h1>Почем сейчас пачка кофе?</h1>
			<h3 style="position: relative;">1 пачка кофе = {{ page.coffee_rate }} MFC <div class="delta" id="{{ page.delta_symb }}">{{ page.delta }}%</div></h3>
		</div>
		<footer>
			<ul>
				<li><a href="https://mfcoin.net" target="_blank">MFCoin</a></li>
				<li><a href="https://coinlib.io/apidocs" target="_blank">Coinlib API</a></li>
				<li><a href="https://github.com/Sagleft/MFCoffee" target="_blank">Source code</a></li>
				<li>Support: Mv7vb6eWskJd2xtfB1U97CfKEZxML65Me4</li>
			</ul>
		</footer>
	</body>
</html>